<%- include("../partials/header") %>
<div id="show">
    <div class="card mb-3">
        <% if(user && blog.author.equals(user._id)){ %>
        <div class="dropleft" id="controls-dropdown">
            <button class="btn  btn-md" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu">
                <a href="/b/<%= blog._id %>/edit" class="dropdown-item text-warning">Edit</a>
                <form method="POST" action="/b/<%= blog._id %>?_method=DELETE" class="">
                    <input type="submit" class="dropdown-item text-danger" value="Delete">
                </form>
            </div>
        </div>
        <% } %>
        <img src="<%= blog.image %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title display-1"><%= blog.title %></h2>
            <h3 class="text-muted">By <a href="/u/<%= blog.author.username %>" class="card-link"><%= blog.author.username %></a></h3>
            <p class="card-text"><small class="text-muted"><%= blog.date.toDateString() %></small></p>
            <p class="card-text"><%- blog.body %></p>
        </div>
    </div>
    <div class="card" id="comments-section">
        <div class="card-footer">
            <form method="POST" action="/b/<%= blog._id %>/comments" class="d-flex justify-content-between my-2">
                <input type="text" name="comment[text]" placeholder="Comment" class="form-control" id="comment" >
                <input type="submit" value="Submit" class="btn btn-primary" id="comment-submit">
            </form>
            <ul class="list-group comments">
                <% blog.comments.forEach((comment, index) => { %>
                    <li class="list-group-item">
                        <a class="card-link" href="/u/<%=comment.author.username%>"><b><%=comment.author.username%></b></a>
                        <p class="float-right"><%=comment.date.toDateString()%></p>
                        <p class="lead"><%= comment.text %></p>
                        <div class="interactions">
                            <a class="" data-toggle="collapse" href="#comment<%=index%>" role="button" aria-expanded="false" aria-controls="comment<%= index %>">
                                <i class="fas fa-reply"></i>
                            </a>
                            <div id="comment<%=index%>" class="collapse">
                                <form method="POST" action="/b/<%= blog._id %>/comments/<%=comment._id%>/reply" class="text-right justify-content-between d-flex">
                                    <input type="text" name="reply[text]" placeholder="reply" class="form-control d-inline">
                                    <input type="submit" value="Reply" class="btn btn-secondary btn-sm">
                                </form>
                            </div>
                        </div>
                            <ul class="replies list-group">
                                <% comment.replies.forEach(reply => { %>
                                    <li class="list-group-item" style="border-left:black 3px solid;">
                                        <a class="card-link" href="/u/<%=reply.author.username%>"><b><%=reply.author.username%></b></a>
                                        <p class="float-right"><%= reply.date.toDateString()%></p>
                                        <p class=""><%= reply.text %></p>
                                    </li>
                                <% }) %>
                            </ul>
                    </li>
                <% }) %>
            </ul>

        </div>
    </div>
</div>

<%- include("../partials/footer") %>
