<%- include("partials/header") %>

<div class="container" id="index">
    <h1 class="text-center display-3">Popular</h1>
    <% blogs.forEach(blog => { %>
        <div class="card bg-light">
            <img src="<%= blog.image %>" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title"><%= blog.title %></h3>
                <p class="text-muted"><%= blog.date.toDateString() %></p>
                <p class="card-text"><%- blog.body.substring(0, 150) %> ...</p>
                <a href="/b/<%= blog._id %>" class="btn btn-info btn-md">Full Blog</a>
            </div>
        </div>
    <% }) %>
</div>
<%- include("partials/footer") %>